
@{
    ViewData["Title"] = "Om oss";
}

<div class= "justify-content-center text-center" >
    <h2 class = "mt-5">Om oss</h2>
    <div class="mt-5">
        <p>
        Vi är en litet svenskt företag med passion för literatur och mysiga hemmakvällar med te. I vår webshop kan du enkelt beställa hem böcker och andra saker för en perfekt myskväll!

        </p>
    </div>
</div>