
<div class="text-center">

<h3 class="mt-5 mb-5">Tack för din beställning!</h3>
    <a class="btn btn-dark text-light btn-sm" asp-controller="Products" asp-action="Index">Shoppa mer!</a>
    <a class="btn btn-dark text-light btn-sm" asp-controller="Order" asp-action="Index"> Kolla orderinformation</a>
</div>

