
<div class="text-center">

<h3 class="mt-5 mb-5">Du behöver vara inloggad för att kunna göra en beställning!</h3>
    <a class="btn btn-dark text-light btn-sm" asp-controller="Auth" asp-action="SignIn">Logga in</a>
    <a class="btn btn-dark text-light btn-sm" asp-controller="Auth" asp-action="SignUp">Skapa konto</a>
</div>

