@model Assignment.WebAppMvc.Models.ViewModels.SignUpViewModel

@{
    ViewData["Title"] = "SignUp";
}


<div class="row justify-content-center align-items-center">
    <div class="col-md-4">

        <div class="justify-content-center text-center">
            <h3 class="m-4">Skapa konto</h3>
        </div>
        

        <form method="post" asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control shadow" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control shadow" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control shadow" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control shadow" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control shadow" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control shadow" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control shadow" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control shadow" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="Submit" value="Skapa konto" class="btn btn-dark text-light rounded-pill p-2 mt-3" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
